{
    "presets": [
        [
            "@babel/preset-env",
            {
                // "debug": true
                "bugfixes": true
            }
        ],
        "@babel/react"
    ],
    "plugins": [
        "@babel/plugin-transform-runtime"
    ]
}