*.db
*.log
node_modules/
/client/build

# Built files
#server/Apache24/htdocs/build/
#!htdocs/build/.htaccess

# Mongo Atlas
nodeServer/mongoAtlas.js

# Old python code
server/

# Python
__pycache__/
*.py[cod]

#server/Apache24/htdocs/build/index.html
#server/Apache24/htdocs/build/index_bundle.js
#server/Apache24/htdocs/build/favicon.png
