.modal.account button, .modal.account input[type="submit"] {
    margin-top: 1em;
    display: block;
}

.modal.login, .modal.sign-up {
    width: initial;
    height: initial;
}

.login-form {
    width: 25em;
    margin-top: 1em;

    display: grid;
    grid-template-columns: auto auto auto 1fr;
    place-items: center stretch;
    
    grid-gap: 1em;
    gap: 1em;
}

.login-form label {
    grid-column: 1 / 3;
}

.login-form input[type="text"], .login-form input[type="password"], .login-form .input-with-validation {
    grid-column: 3 / 5;
}

.login-form input[type="checkbox"] + label {
    grid-column: 2 / 5;
}

.login-form .sign-up-cta {
    grid-column: 1 / 4;
    margin: 0;
}

@keyframes login-btn-wiggle {
    from {
        transform: none;
    }
    
    25% {
        transform: translateX(-8px);
    }
    
    75% {
        transform: translateX(8px);
    }
    
    to {
        transform: none;
    }
}

.login-form input[type="submit"] {
    margin: 0;
    place-self: center end;
    transition: transform 500ms;
    outline: none;
}

.login-form .login-btn.login-btn-fail, .login-form .sign-up-btn.sign-up-btn-fail {
    animation: login-btn-wiggle 250ms linear 0s 3;
}

.input-with-validation {
    position: relative;
}

.input-with-validation input {
    width: 100%;
}

.password-validation-message {
    position: absolute;
    top: 2.3em;
    background-color: rgba(220, 20, 60, 0.9);
    color: white;
    font-size: 0.8em;
    padding: 1.2em 0.5em 0.5em 0.5em;
    clip-path: polygon(0% 0.7em, calc(50% - 0.7em) 0.7em, 50% 0, calc(50% + 0.7em) 0.7em, 100% 0.7em, 100% 100%, 0% 100%); /* Triangle at top */
    z-index: 10;
}