.add-wrapper {
    position: fixed;
    z-index: 900;
    bottom: 0;
    left: 0;
    // right: 0;
    bottom: var(--ad-bottom-banner-height);
    user-select: none;
    font-size: calc(1.8em + 1.5vw);

    &.add-wrapper-activated .add-card-button {
        transform: rotate(45deg);
        box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.15);

        &:hover {
            box-shadow: 6px 6px 16px rgba(0, 0, 0, 0.25);
        }

        &:active {
            box-shadow: none;
            transform: translateY(2px) rotate(45deg);
        }
    }
}

@keyframes add-card-button-in {
    from {
        transform: translateY(7vw) scale(0.5);
    }

    to {
        transform: none;
    }
}

.add-card-button {
    font-family: Arial, Helvetica, sans-serif;
    background-color: crimson;
    text-align: center;

    width: 1.4em;
    line-height: 1.4em;
    margin: 0.5em;

    color: white;
    font-weight: bold;
    border-radius: 99999px;
    cursor: pointer;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
    transition: box-shadow 100ms, transform 100ms;
    z-index: 1;
    position: relative;
    animation: add-card-button-in 300ms;

    &:hover {
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.25);
    }
    &:active {
        transform: translateY(2px);
        box-shadow: none;
    }

    @media only screen and (max-width: 600px) {
        margin: 0.4em;
    }
}

.add-buttons-background {
    position: absolute;
    left: 0;
    // right: 0;
    width: 100vw;
    bottom: 0;
    background: linear-gradient(0deg, rgba(#000000, 0.8), rgba(#000000, 0.3));
    height: 100vh;
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
}

.add-buttons {
    position: absolute;
    width: 0;
    left: 2.3em;
    bottom: 0;
    color: white;
    margin-bottom: 0.5em;
    @media only screen and (max-width: 600px) {
        margin-bottom: 0.4em;
    }
}

.add-flashcard-button,
.add-subcategory-button {
    font-size: 0.4em;
    margin-top: 0.5em;
    width: max-content;
    background-color: #a00f2c;
    border-radius: 0.4em;
    padding: 0.4em 0.6em;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.18);
    cursor: pointer;
    transition: box-shadow 100ms, transform 100ms;

    &:hover {
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.28);
    }

    &:active {
        box-shadow: none;
        transform: translateY(2px);
    }

    .material-icons {
        margin-right: 0.6em;
        vertical-align: middle;
        padding-bottom: 0.2em;
    }
}

/* =============== Add forms =============== */

.modal.add {
    width: initial;
    height: initial;
}

// Add flashcard form

.add-form {
    display: grid;
    grid-template-columns: auto auto 1fr;
    place-items: center stretch;
    grid-gap: 1em;
    gap: 1em;
    label {
        grid-column: 1 / 3;
    }

    input[type="text"] {
        grid-column: 3 / 4;
    }

    input[type="checkbox"] + label {
        grid-column: 2 / 4;
    }

    .controls {
        grid-column: 3 / 4;
        place-self: end;
    }
    .usernames-visible-to {
        grid-column: 1 / -1;
        font-size: 0.9em;
        font-style: italic;
        opacity: 0.8;
    }

    .flashcard-preview {
        grid-column: 1 / -1;

        h3 {
            margin: 0 0 0.8em 0;
        }

        .flashcard-whole {
            margin: 0 2em;
        }
    }
}

// Add category form

.add-category-form {
    grid-template-columns: auto 1fr;

    label {
        grid-column: 1 / 2;
    }

    input[type="text"],
    .controls {
        grid-column: 2 / 3;
    }

    .colour-picker {
        grid-column: 1 / 3;
        place-self: center;
        display: inline-block;
    }

    .colour-picker > div:hover {
        box-shadow: 0 0.08vw 11px -1px rgba(0, 0, 0, 0.4) !important;
    }
}
