.banneradwrapper {
  --ad-bottom-banner-height: 100px;

 /* &.adshidden {*/
    --ad-bottom-banner-height: 0px;
 /* }*/
}

/*.adshidden*/ .ad-bottom-banner {
  display: none;
}

.ad-bottom-banner {
  position: fixed;
  bottom: 0;
  background-color: rgba(#aaaaff, $alpha: 0.8);
  width: 100%;
  max-height: var(--ad-bottom-banner-height);
  height: var(--ad-bottom-banner-height);
}
