.breadcrumb {
    color: black;
    margin-bottom: 0.4vw;

    display: flex;
    flex-wrap: wrap;
}

.breadcrumb-category, .breadcrumb-workspace {
    text-overflow: clip;
    display: flex;
    align-items: center;
    border-radius: 0 3vw 3vw 0;
    padding: 0.5em calc(0.7em + 0.6vw) 0.5em 2.2em; /* Compensate for rounded corners */
    margin-right: -1.5em; /* Overlap */
    background-color: #DFDFDF;
    box-shadow: 0.13em 0 4px -1px rgba(0, 0, 0, 0.3);
    position: relative;
    user-select: none;

    /* Handle long text */
    white-space: nowrap;
    overflow-x: hidden;

    /* Override <Link> anchor styling */
    color: inherit;
    text-decoration: inherit;
}

.breadcrumb-workspace .switch-workspace-cta {
    font-size: 0.7em;
    max-width: 5em;
    margin-left: 0.7em;
}

.breadcrumb-category:hover, .breadcrumb-category.dnd-hover {
    background-color: #CFCFCF;
}

.breadcrumb-workspace {
    padding: 0.4em calc(0.4em + 0.6vw) 0.4em 1.5vw;
    background-color: crimson;
    color: white;
}

@media only screen and (max-width: 600px) {
    .breadcrumb {
        margin-bottom: 0.2em;
    }
    
    .breadcrumb-category, .breadcrumb-workspace {
        font-size: 0.8em;
        padding: 0.4em 0.7em 0.4em 2.1em;
        max-width: 85vw;
    }
    
    .breadcrumb-workspace {
        padding: 0.3em calc(0.4em + 0.6vw) 0.3em 3vw;
        line-height: 1.2;
    }
}

/* Sharing with Web Share API */
.breadcrumb-category i.material-icons {
    margin-left: 0.5em;
    margin-right: -0.2em;
    padding: 0.1em 0.4em 0.1em 0.2em;
}

.breadcrumb-category i.material-icons:hover {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 10em;
}

@media only screen and (max-width: 600px) {
    .breadcrumb-category i.material-icons {
        margin-left: 0.2em;
    }
}