.coupon-code-input {
    margin: 0 0 1em 0;
    button.coupon-code-apply-loading .network-indicator.loading {
        padding-right: 1.2em;
    }

    button.coupon-code-apply {
        margin-left: calc(0.2vw + 0.5em);
        &.coupon-code-apply-fail {
            animation: login-btn-wiggle 250ms linear 0s 3;
        }
    }

    .network-indicator.loading {
        animation: network-indicator-in 200ms forwards;
        position: relative;
    }
}

.coupon {
    margin: 0.5em 0;
    background-color: rgb(160, 15, 44);
    box-shadow: 0 0.1em 8px 0 rgba(0, 0, 0, 0.4);
    color: white;
    padding: 1em;
    border-radius: 0.8em;
    width: fit-content;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    font-size: 0.9em;
    h4 {
        margin: 0;
        font-size: 1.3em;
    }

    p {
        margin-top: 0.5em;
    }

    .coupon-code {
        font-family: "SF Mono", Consolas, monospace;
        letter-spacing: 0.1em;
        background-color: #fff;
        padding: 0.2em 0.4em;
        border-radius: 0.3em;
        color: black;
    }
    
    .coupon-remove a.link {
        &:link {
            color: #7af;
        }

        &:visited {
            color: #b8f;
        }
        &:active {
            color: #f78;
        }
    }
}
