.theme-dark {
    background-color: #222;
    color: rgba(255, 255, 255, 0.8);
    -webkit-font-smoothing: antialiased !important;

    --flash-gold-colour: #e49a06;
    --flash-gold-shimmer-gradient: linear-gradient(45deg, #c99505 0% 40%, #dbc85b);

    h2:not(.mode-heading, .modal-header),
    h3 {
        color: rgba(255, 255, 255, 0.9);
    }

    .import-flashcards-button {
        &:hover {
            background-color: rgba(255, 255, 255, 0.1);
        }
        &:active {
            background-color: rgba(255, 255, 255, 0.15);
        }
    }

    .modal,
    .import-flashcards-dialog,
    .edit-dialog {
        background-color: #2f2f2f;
        color: rgba(255, 255, 255, 0.8);
    }

    .modal.manage-subscription {
        .subscription {
            background-color: #3f3f3f;
            box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.2), -4px -4px 6px rgba(255, 255, 255, 0.1);

            &.subscription-gold::after {
                box-shadow: 4px 4px 6px rgba(170, 122, 0, 0.3), -4px -4px 6px rgba(255, 240, 206, 0.15);
            }

            .price-details {
                color: rgba(255, 255, 255, 0.6);
                border-left-color: rgba(255, 255, 255, 0.4);
            }
        }
    }

    input,
    button,
    textarea {
        background-color: #3f3f3f;
        color: rgba(255, 255, 255, 0.8);
    }

    textarea {
        border-color: #555;
    }

    input[type="text"],
    input[type="password"] {
        border-color: transparent;
        box-shadow: 0 0.05vw 2px rgba(0, 0, 0, 0.2), 0 0.08vw 6px rgba(0, 0, 0, 0.2);

        &:hover {
            box-shadow: 0 0.07vw 3px rgba(0, 0, 0, 0.38), 0 0.12vw 8px rgba(0, 0, 0, 0.3);
        }

        &:focus {
            box-shadow: 0 0.07vw 5px rgba(0, 0, 0, 0.42), 0 0.12vw 10px rgba(0, 0, 0, 0.38);
        }
    }

    input[type="submit"],
    button.primary {
        background-color: crimson;

        &:disabled {
            background-color: hsl(348, 25%, 35%);
        }
    }

    .twitter-picker {
        background-color: #333 !important;

        // Background of hash icon
        > div:last-child > div:first-of-type {
            background-color: #555 !important;
        }

        // Textbox
        input {
            box-shadow: none !important;
            color: rgba(255, 255, 255, 0.7) !important;
        }

        // Triangle
        > div:nth-child(2) {
            border-bottom-color: #333 !important;
        }
    }

    .add-category-form .twitter-picker {
        background-color: #3f3f3f !important;
    }

    a.link {
        &:link {
            color: #7af;
        }

        &:visited {
            color: #b8f;
        }

        &:active {
            color: #f78;
        }
    }

    .network-indicator.loading::after {
        border-color: #555;
        border-top-color: crimson;
    }

    .breadcrumb-category {
        background-color: #3f3f3f;
        color: rgba(255, 255, 255, 0.8);

        &:hover {
            background-color: #4f4f4f;
        }
    }

    .card {
        box-shadow: 0 0.1vw 8px 0 rgba(0, 0, 0, 0.4);
    }

    .usernames-visible-to {
        opacity: 0.6;
    }

    .quiz-stats {
        background-color: #3f3f3f;
    }

    .quiz-start-btn {
        background-color: crimson;
        color: white;
    }

    .quiz-answer-entry input {
        box-shadow: none;
        border-bottom-color: rgba(255, 255, 255, 0.5);

        &:hover,
        &:focus {
            box-shadow: none;
            border-bottom-color: rgba(255, 255, 255, 0.75);
        }
    }

    .quiz-empty {
        border-color: #666;
    }

    .coupon {
        color: rgba(255, 255, 255, 0.9);
        &.coupon-code {
            background-color: #ddd;
        }
    }

    /* Payment history */
    .payment-history-list {
        background-color: #3f3f3f;

        th {
            background-color: #4f4f4f;
            border-top-color: #5f5f5f;
        }
        td {
            border-top-color: #5f5f5f;
        }
    }

    .terms {
        background-color: #444;
        color: rgba(255, 255, 255, 0.9);
    }

    .get-flash-gold-cta {
        h3 {
            color: black;
        }
        a.link {
            &:link {
                color: blue;
            }
            &:visited {
                color: #551a8b;
            }
            &:active {
                color: red;
            }
        }
    }

    .role-badge:not(.role-badge-flash-gold) {
        filter: brightness(0.85) contrast(0.85);
    }

    .mode-selector .news-cta {
        background-color: rgba(50, 50, 50, 0.85);
    }

    .choose-mode .mode {
        background-color: rgba(50, 50, 50, 0.85);

        svg {
            .background {
                fill: #444;
            }

            .panel {
                fill: #525252;
            }
        } 
    }

    .courses .coming-soon {
        background-color: #333;
    }

    .course-card {
        background-color: #333;

        .course-info p {
            color: rgba(255, 255, 255, 0.5);
        }

        img {
            filter: brightness(0.9) contrast(0.7);
        }
    }

    .rating {
        filter: brightness(0.9) contrast(0.8);
        border: none;
    }

    .course {
        .course-info {
            .subtitle {
                color: rgba(255, 255, 255, 0.6);
            }
        }

        .course-section {
            background-color: #333;

            &:hover {
                background-color: #3f3f3f;
            }

            &:active {
                background-color: #444;
            }

            h4,
            ul {
                color: rgba(255, 255, 255, 0.6);
            }
        }
    }

    .section {
        .section-title h2 a:hover {
            background-color: rgba(255, 255, 255, 0.1);
        }

        a.section-topic {
            background-color: #333;

            &:hover {
                background-color: #3f3f3f;
            }

            &:active {
                background-color: #444;
            }

            &.section-topic-active {
                background-color: #4a5c65;
            }

            p {
                color: rgba(255, 255, 255, 0.6);
            }
        }
        .topic-wrapper .topic {
            background-color: #444;
        }
    }
}
