.edit-dialog-profile-picture {
    background-color: white;
    box-shadow: 0 0.2vw 8px 0 rgba(0, 0, 0, 0.3) !important;
    padding: 1em;
    border-radius: 0.5em;

    p {
        margin: 0;
    }

    .profile-pictures {
        margin-top: 0.7em;
        display: grid;
        gap: 0.7em;
        grid-template-columns: repeat(4, 1fr);

        img {
            border-radius: 100%;
            width: 4em;
            height: 4em;
            cursor: pointer;
            background-color: #ddd;
            &:hover,
            &:focus {
                box-shadow: 0 0.1vw 4px rgba(0, 0, 0, 0.5);
                outline: none;
            }
        }
    }

    .get-flash-gold-cta {
        margin-top: 0.5em;
        padding: 0.7em;
        border-radius: 0.5em;
        text-align: center;
        color: initial;
    }

    .profile-pictures-flash-gold {
        background: var(--flash-gold-colour);
        border-radius: 1em;
        padding: 0.5em;
        margin: 0.7em -0.5em -0.5em -0.5em;
        row-gap: 0.5em;

        p {
            color: initial;
            grid-column: 1 / -1;
            text-align: center;
            margin: 0.1em 0;
        }
    }
}
