.flashcard {
    transition: opacity 200ms;
}

.flashcard.card-normal:hover, .flashcard-modal:hover {
    box-shadow: 0 0.2vw 10px 0 rgba(0, 0, 0, 0.5);
    /* cursor: pointer; */
}

.flashcard.card-normal:active {
    position: relative;
    box-shadow: none;
    top: 0.2vw;
}

/* =============== Flashcard buttons =============== */

.flashcard-button .material-icons {
    font-size: 1.3vw;
    color: black;
}

.flashcard-button {
    position: absolute;
    left: 0.5vw;
    background-color: rgba(255, 255, 255, 0.6);
    padding: 0.35vw;
    border-radius: 8vw;
    opacity: 0;
    transition: opacity 120ms;
    cursor: pointer;
}

.flashcard-button:nth-child(1) {
    top: 0.5vw;
}

.flashcard-button:nth-child(2) {
    top: 2.9vw;
}

.flashcard-button:nth-child(3) {
    top: 0.5vw;
    left: 2.9vw;
}

@media only screen and (max-width: 1250px) {
    .flashcard-button .material-icons {
        font-size: 1.9vw;
    }

    .flashcard-button {
        left: 0.6vw;
        padding: 0.5vw;
    }

    .flashcard-button:nth-child(1) {
        top: 0.6vw;
    }
    
    .flashcard-button:nth-child(2) {
        top: 3.9vw;
    }

    .flashcard-button:nth-child(3) {
        top: 0.6vw;
        left: 3.9vw;
    }
}

@media only screen and (max-width: 900px) {
    .flashcard-button .material-icons {
        font-size: 2.3vw;
    }

    .flashcard-button {
        left: 0.8vw;
        padding: 0.7vw;
    }

    .flashcard-button:nth-child(1) {
        top: 0.8vw;
    }
    
    .flashcard-button:nth-child(2) {
        top: 5vw;
    }

    .flashcard-button:nth-child(3) {
        top: 0.8vw;
        left: 5vw;
    }
}

@media only screen and (max-width: 600px) {
    .flashcard-button .material-icons {
        font-size: 3.2vw;
    }

    .flashcard-button {
        left: 1vw;
        padding: 1vw;
    }

    .flashcard-button:nth-child(1) {
        top: 1vw;
    }
    
    .flashcard-button:nth-child(2) {
        top: 7vw;
    }

    .flashcard-button:nth-child(3) {
        top: 1vw;
        left: 7vw;
    }
}

@media only screen and (max-width: 400px) {
    .flashcard-button .material-icons {
        font-size: 4.5vw;
    }

    .flashcard-button {
        left: 1.4vw;
        padding: 1.4vw;
    }

    .flashcard-button:nth-child(1) {
        top: 1.4vw;
    }
    
    .flashcard-button:nth-child(2) {
        top: 10vw;
    }

    .flashcard-button:nth-child(3) {
        top: 1.4vw;
        left: 10vw;
    }
}

.card:hover .flashcard-button, .card-edit .flashcard-button {
    opacity: 0.25;
}

.card:hover .flashcard-button:hover {
    opacity: 0.7;
}

.card span, .card .auto-size-input-wrapper {
    max-width: 100%;
    max-height: 100%;
    overflow: hidden;
    word-wrap: break-word;
}

.flashcard.dnd-dragging {
    opacity: 0.5;
    transition: opacity 500ms;
}

.flashcard.dnd-dragging .flashcard-button {
    opacity: 0;
}

/* =============== Special views, triggered by buttons =============== */
.flashcard-modal {
    width: 87vmin;
    height: 55vmin;
    padding: 5vmin;
    font-size: 11vmin;
    border-radius: 1.7vw;
    margin: 0;
}

.flashcard-modal:hover {
    box-shadow: 0 0.4vmin 20px 0 rgba(0, 0, 0, 0.6);
}

.flashcard-modal .flashcard-button {
    opacity: 0.3;
    left: 2vmin;
    top: 2vmin;
    padding: 1vmin;
}

.flashcard-modal .material-icons {
    font-size: 3.3vmin;
}

@media only screen and (max-width: 900px) {
    .flashcard-modal {
        border-radius: 3.4vw;
    }
}

@media only screen and (max-width: 600px) {
    .flashcard-modal .flashcard-button {
        left: 2.5vmin;
        top: 2.5vmin;
        padding: 1.3vmin;
    }
    .flashcard-modal .material-icons {
        font-size: 5vmin;
    }
}

@media only screen and (max-width: 400px) {
    .flashcard-modal {
        border-radius: 5.1vw;
    }
}

.card-edit div>input[type=text] {
    font-family: inherit;
    font-size: inherit;
    background: none;
    padding: 3px;
    text-align: center;
    width: 80%;
    border: none;
    border-radius: 0;
    color: inherit;
    box-shadow: none;
}

.card-edit input:focus {
    outline: none;
}