dl.keyboard-shortcuts {
    display: grid;
    grid-template-columns: 1fr 2.6fr 1fr 2.6fr;
    justify-items: start;
    align-items: center;
    gap: 0.4em 1.2em;
    font-size: 0.9em;

    dt .key {
        background-color: #555;
        box-shadow: 0 3px 0 #000;
        color: white;
        display: inline-block;
        padding: 0.6em 0.7em;
        min-width: 0.8em;
        text-align: center;
        border-radius: 0.3em;
        text-transform: capitalize;
        margin: 0.05em 0.3em 0.05em 0;
        line-height: 1em;

        &:last-child {
            margin-right: 0;
        }
    }

    dd {
        display: inline-block;
        margin: 0;
    }

    @media only screen and (max-width: 900px) {
        grid-template-columns: 1fr 1.5fr 1fr 1.5fr;
    }

    @media only screen and (max-width: 600px) {
        grid-template-columns: 1fr 3fr;
    }
    @media only screen and (max-width: 420px) {
        display: none;
    }
}
