.modal {
    width: 50vw;
    height: 50vh;
    border-radius: 2vmin;
    background-color: white;
    position: relative;
    font-size: 1.1vw;
}

.modal .modal-header {
    background-color: crimson;
    color: white;
    border-radius: 2vmin 2vmin 0 0;
}

.modal .modal-header, .modal .modal-body {
    padding: 3vmin;
}

.modal h2 {
    font-size: 1.65em;
    margin: 0;
}

.modal .button-close {
    font-size: 1.5em;
    position: absolute;
    top: 2.5vmin;
    right: 2.5vmin;
    cursor: pointer;
}

.modal .button-close:hover {
    text-shadow: 0 3px 15px rgba(0, 0, 0, 0.7);
}

.modal .button-close:active {
    text-shadow: none;
    top: calc(2.5vmin + 2px);
}

.modal-body p {
    margin: 1em 0 0 0;
}

.modal-body>*:first-child {
    margin: 0;
}

.modal-body ul {
    margin-top: 0;
    padding-left: 1.7em;
}

.modal-body ul li {
    line-height: 1.35em;
}

@media only screen and (max-width: 1250px) {
    .modal {
        width: 70vw;
        font-size: 1.9vw;
    }
}
@media only screen and (max-width: 900px) {
    .modal {
        width: 85vw;
        font-size: 2.6vw;
    }
}
@media only screen and (max-width: 600px) {
    .modal {
        width: 93vw;
        font-size: 3.7vw;
    }
}

@media only screen and (max-height: 760px) {
    .modal {
        height: 65vh;
    }
}
@media only screen and (max-height: 550px) {
    .modal {
        height: 85vh;
    }
}