.modal {
    width: 50vw;
    border-radius: 1.7vmin;
    background-color: white;
    position: relative;
    font-size: 1.1vw;
}

.modal .modal-header {
    background-color: crimson;
    color: white;
    border-radius: 1.7vmin 1.7vmin 0 0;
}

.modal .modal-header, .modal .modal-body {
    padding: 3vmin;
}

.modal h2 {
    font-size: 1.65em;
    margin: 0;
}

.modal .button-close {
    font-size: 1.5em;
    position: absolute;
    top: 2.5vmin;
    right: 2.5vmin;
    cursor: pointer;
}

.modal .button-close:hover {
    text-shadow: 0 3px 15px rgba(0, 0, 0, 0.7);
}

.modal .button-close:active {
    text-shadow: none;
    top: calc(2.5vmin + 2px);
}

.modal-body p {
    margin: 0.7em 0 0 0;
}

.modal-body>*:first-child {
    margin: 0;
}

.modal-body ul {
    margin-top: 0;
    padding-left: 1.7em;
}

.modal-body ul li {
    line-height: 1.35em;
}

.external-link i {
    vertical-align: middle;
    padding-right: 0.5em;
    font-size: 1.35em;
}

@media only screen and (max-width: 1250px) {
    .modal {
        width: 70vw;
        font-size: 1.9vw;
    }
}

@media only screen and (max-width: 900px) {
    .modal {
        max-width: 85vw;
        font-size: 2.6vw;
        border-radius: 2.8vmin;
    }
    .modal .modal-header {
        border-radius: 2.8vmin 2.8vmin 0 0;
    }
    .modal .modal-header, .modal .modal-body {
        padding: 3.8vmin;
    }
    .modal .button-close {
        top: 3.3vmin;
        right: 3.3vmin;
    }
    .modal .button-close:active {
        text-shadow: none;
        top: calc(3.3vmin + 2px);
    }
    .external-link i {
        padding-right: 0.6em;
    }
}

@media only screen and (max-width: 600px) {
    .modal {
        width: 96vw;
        font-size: 3.7vw;
        border-radius: 3.7vmin;
    }
    .modal .modal-header {
        border-radius: 3.7vmin 3.7vmin 0 0;
    }
    .modal .modal-header, .modal .modal-body {
        padding: 4.5vmin;
    }
    .modal .button-close {
        top: 3.8vmin;
        right: 3.8vmin;
    }
    .modal .button-close:active {
        text-shadow: none;
        top: calc(3.8vmin + 2px);
    }
}