.privacy {
    margin-left: 1.5vw;
    margin-right: 1.5vw;
    font-size: 0.85em;

    @media only screen and (max-width: 600px) {
        margin: 0 3vw;

        display: flex;
        flex-flow: column nowrap;
    }

    p {
        margin: 0.5em 0;
    }

    h2 {
        margin: 0.5em 0 0 0;
        grid-column: 1/3 !important;
    }

    .terms {
        margin: 1.5em auto;
        max-width: 50em;
        @media only screen and (max-width: 600px) {
            font-size: 0.78em;
            margin: 1em auto;
        }
    }
}
