.modal-background.drop-through {
    background-color: rgba(0, 0, 0, 0.2);
    visibility: hidden;
}

.tag-manager {
    display: grid;
    grid-template-rows: auto 1fr;
}

.tag-manager .modal-body {
    display: flex;
    justify-content: space-between;
    flex-flow: column nowrap;
}

.tags {
    display: flex;
    flex-flow: row wrap;
}

.tag {
    display: inline;
    border-radius: 50px;
    font-size: 0.9em;
    cursor: pointer;
    transition: opacity 200ms;
    padding: 0.6em 0.9em;
    flex-shrink: 0;
}

.tags .tag {
    margin: 0 0.4em 0.3em 0;
}

/* Used to shift scrollbar up when card is pressed down */
.card:active .tags .tag {
    margin: 0 0.4em calc(0.3em - 0.2vw) 0;
}

.card .tags .tag:first-child {
    margin-left: 0;
}
.card .tags .tag:last-child {
    margin-right: 1em;
}

.tag.dnd-dragging, .card:hover .tag {
    opacity: 0.7;
}

.card:hover .tags {
    overflow: auto;
}

.card .tag:hover {
    opacity: 0.9;
}

.card .tags {
    position: absolute;
    top: 0.4vw;
    right: 0.4vw;
    font-size: 0.5em;
    width: 80%;
    flex-flow: row nowrap;
    overflow: hidden;
    /* Fade out on left and right ends */
    -webkit-mask-image: linear-gradient(to left, transparent, white 2vw);
    mask-image: linear-gradient(to left, transparent, white 2vw);

    /* Firefox scrollbar */
    scrollbar-width: thin;
    scrollbar-color: rgba(255, 255, 255, 0.6) rgba(255, 255, 255, 0.2);
}

.card .tags::-webkit-scrollbar {
    height: 8px;
    background-color: rgba(255, 255, 255, 0.25);
    opacity: 0.25;
    border-radius: 20px;
}

.card .tags::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.5);
    opacity: 0.6;
    border-radius: 20px;
}

.card .tag {
    opacity: 0.4;
    transition: opacity 120ms;
    padding: 0.4em 0.7em;
}

.card .tag-button {
    top: -0.08em;
    margin-left: 0.4em;
}

.add-tag-form {
    margin: 0;
}

.add-tag-form button {
    margin: 0;
}

.add-tag-form button::before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    height: 100%;
  }

.add-tag-form .colour-preview {
    display: inline-block;
    width: 1em;
    height: 1em;
    vertical-align: middle;
    margin-left: 0.5em;
    position: relative;
    top: -0.1em;
    border-radius: 0.2em;
}

.add-tag-form > * {
    margin: 0 0.6em 0 0;
}

.tag-button {
    font-size: 1em;
    vertical-align: middle;
    margin-left: 0.6em;
    position: relative;
    top: -0.05em;
    cursor: pointer;
}

.tag-button:hover {
    text-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
}

.tag-button:active {
    text-shadow: none;
    top: 0;
}