.modal.flash-gold-terms {
    /* width: 60vw; */
    margin: 2vw 0;
    max-height: calc(100vh - 4vw);

    .modal-body {
        /* Scrolling on phones */
        overflow-y: auto;
        max-height: calc(85vh - 5em);
    }
}

@media only screen and (max-width: 600px) {
    .modal.flash-gold-terms {
        margin: 0vw 0 20vw 0;
        max-height: calc(100vh - 14vh);

        .modal-body {
            max-height: calc(85vh - 14.5vh);
        }
    }
}

.terms {
    position: relative;
    background-color: white;
    padding: 2em;
    margin: 1em 0;
    font-size: 0.9em;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);

    p {
        margin: 0.6em 0 0 0;
        text-align: justify;
    }

    h3 {
        margin-top: 0;
        font-size: 1.3em;
    }

    h4 {
        margin: 1em 0 0 0;
    }

    .terms-header {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
    }

    .terms-title {
        flex-grow: 1;
    }

    i.terms-print {
        font-size: 1.8em;
        cursor: pointer;

        &:hover {
            text-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
        }
    }
}

.modal.flash-gold-terms button {
    margin-top: 1em;
    display: block;
    margin-left: auto;
}

@media only screen and (max-width: 600px) {
    .terms {
        padding: 1em;

        p {
            text-align: start;
        }
        h3 {
            font-size: 1.2em;
        }
    }
}

@media only print {
    .modal.flash-gold-terms {
        width: 85vw;
    }
}
