<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        @import url('https://fonts.googleapis.com/css?family=Maven+Pro:400,700&display=swap');

        body {
            margin: 0;
            font-family: "Maven Pro", Tahoma, "Helvetica Neue", Helvetica, Arial, sans-serif;
            font-size: 1.5em;
            color: black;
        }

        h1 {
            background-color: crimson;
            color: white;
            padding: 0.3em 0.5em;
            margin: 0;
            font-size: 2em;
        }

        h2 {
            font-size: 1.5em;
        }

        p {
            text-align: center;
            margin: 2em 0.4em;
            font-size: 0.7em;
            color: black;
        }

        footer {
            margin: 3em 0;
            border-top: 1px solid #5f5f5f;
            padding-top: 2em;
        }

        footer p {
            margin: 0.7em 0.4em;
            color: #5f5f5f;
            font-size: 0.6em;
        }

        div.main,
        footer {
            color: black;
            margin: 0 auto;
            max-width: 50em;
        }

        .cta {
            font-size: 1.5em;
            font-weight: 700;
            line-height: 1.1;
        }

        p a.button {
            color: white;
            background-color: crimson;
            border-radius: 0.5em;
            padding: 0.5em 0.7em;
            text-decoration: none;
            font-size: 1.2em;
            margin: 3em 0.4em;
        }

        .button:hover {
            background-color: rgb(160, 15, 44);
        }

        @media (min-width: 900px) {
            .cta {
                font-size: 2.5em;
                margin: 1.5em 0.4em;
            }

            p {
                font-size: 1.1em;
            }

            h2 {
                font-size: 1.3em;
            }

            p a.button {
                font-size: 1.5em;
            }

            footer p {
                font-size: 1em;
            }
        }
    </style>
</head>

<body style="">
    <header>
        <h1>Flash</h1>
    </header>
    <div class="main">
        <p>Hi {{username}},</p>
        <p class="cta">
            We're moving to flash-app.co.uk
        </p>
        <p>
            Here at Flash we have decided to move to a new web address to
            strengthen our brand and open up the potential for security improvements.
            As of today, flash-app.co.uk will be our new home, and all our email addresses
            have changed, for example to info@flash-app.co.uk. As part of this, we've also
            updated our privacy policy.
        </p>
        <p>
            <a class="button" href="https://flash-app.co.uk/privacy">
                Read our privacy policy
            </a>
        </p>
        <p>Didn't work? Use this link: <a href="https://flash-app.co.uk/privacy">https://flash-app.co.uk/privacy</a></p>

        <h2>How will this affect me?</h2>
        <p>
            The old link will redirect you to the new one, so you shouldn't need to change too much. If
            you've installed Flash on your phone, you will need to delete it and reinstall for it to
            work correctly.
        </p>

        <h2>How can I contact Flash?</h2>
        <p>
            You need to use the new email addresses, ending in @flash-app.co.uk. For example, speak to us
            about your account at <a href="mailto:account@flash-app.co.uk">account@flash-app.co.uk</a>.
        </p>
    </div>
    <footer>
        <p>
            This email was sent because you created a Flash account at <a
                href="https://flash-app.co.uk">https://flash-app.co.uk</a> (formerly flashapp.uk.to).
        </p>
        <p>
            You cannot unsubcribe from this email because Flash has a legal obligation to
            keep you informed about changes to how we process your personal data and changes
            about how we can be contacted.
        </p>
        <p>
            Please reply if this was unintended or you would like to delete your account.
        </p>
    </footer>
</body>

</html>