<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Important Changes to Flash</title>
    <style>
        @import url('https://fonts.googleapis.com/css?family=Maven+Pro:400,700&display=swap');

        body {
            margin: 0;
            font-family: "Maven Pro", Tahoma, "Helvetica Neue", Helvetica, Arial, sans-serif;
            font-size: 1.5em;
            color: black;
        }

        .title {
            background-color: crimson;
            color: white;
            padding: 0.3em 0.5em;
            margin: 0;
            font-size: 1.8em;
            font-weight: bold;
            text-align: left;
        }

        p {
            text-align: center;
            margin: 2em 0.4em;
            font-size: 0.7em;
            color: black;
        }

        footer {
            margin: 3em 0;
        }

        footer p {
            margin: 0.7em 0.4em;
            color: #5f5f5f;
            font-size: 0.6em;
        }

        div.main,
        footer {
            color: black;
            margin: 0 auto;
            max-width: 50em;
        }

        .cta {
            font-size: 1.5em;
            font-weight: 700;
            line-height: 1.1;
            text-align: center;
        }

        p a.button {
            color: white;
            background-color: crimson;
            border-radius: 0.5em;
            padding: 0.5em 0.7em;
            text-decoration: none;
            font-size: 1.2em;
            margin: 3em 0.4em;
        }

        .button:hover {
            background-color: rgb(160, 15, 44);
        }

        @media (min-width: 900px) {
            .cta {
                font-size: 2.5em;
                margin: 1.5em 0.4em;
            }

            p {
                font-size: 1.1em;
            }

            p a.button {
                font-size: 1.5em;
            }

            footer p {
                font-size: 1em;
            }
        }
    </style>
</head>

<body style="">
    <header>
        <p class="title">Flash</p>
    </header>
    <div class="main">
        <p>Hi {{username}},</p>
        <h1 class="cta">
            We're making some important changes
        </h1>
        {{!-- <p>
            <a class="button" href="https://flash-app.co.uk/privacy">
                Read it
            </a>
        </p>
        <p>Didn't work? Use this link: <a href="https://flash-app.co.uk/privacy">https://flash-app.co.uk/privacy</a></p> --}}
        <p>
            From Sunday 6th December 2020, Flash will be provided by Flash App Limited.
            This means that data we process about you will be given to Flash App Limited,
            and Flash App Limited will control and process it. You can find more information
            about this in our updated (version 2.2) <a href="https://flash-app.co.uk/privacy">privacy policy</a>.
        </p>
        <p>
            If you're subscribed to Flash Gold, from this date your agreement will be with Flash
            App Limited. We've tweaked the <a href="https://flash-app.co.uk/account/subscription/terms">Flash Gold
                Terms</a> with version 1.1 to reflect this.
        </p>
        <p>
            If you'd like more information about these changes, please contact us at <a
                href="mailto:info@flash-app.co.uk">info@flash-app.co.uk</a>.
        </p>
    </div>
    <footer>
        <p>
            This email was sent because you created an account at <a
                href="https://flash-app.co.uk">https://flash-app.co.uk</a>.
        </p>
        <p>
            You cannot unsubcribe from this email because Flash has a legal obligation to
            keep you informed about changes to how we process your personal data.
        </p>
        <p>
            Please reply if you would like to delete your account or personal data.
        </p>
        <p>
            Flash App Limited is a private limited company registered in England and Wales
            with company number 12974271. Contact us at <a href="mailto:info@flash-app.co.uk">info@flash-app.co.uk</a>
        </p>
    </footer>
</body>

</html>