.breadcrumb {
    color: black;
    margin-top: calc(3.9em + 2.2vw);
    margin-bottom: 0.4vw;
}

@media only screen and (max-width: 600px) {
    .breadcrumb {
        margin-top: 3.8em;
        margin-bottom: 0.2em;
    }
}

.breadcrumb-category {
    display: inline-block;
    border-radius: 0 5vw 5vw 0;
    padding: 0.5em 0.8em 0.5em 1.6em; /* Compensate for rounded corners */
    margin-right: -1em; /* Overlap */
    background-color: #DFDFDF;
    box-shadow: 0.13em 0 4px -1px rgba(0, 0, 0, 0.3);
    position: relative;
    user-select: none;

    /* Override <Link> anchor styling */
    color: inherit;
    text-decoration: inherit;
}

.breadcrumb-category:hover, .breadcrumb-category.dnd-hover {
    background-color: #CFCFCF;
}

.breadcrumb-category:active {
    background-color: #BBB;
}

.breadcrumb-category:first-child {
    padding-left: 1.5vw;
}