.info-box {
    width: 80vmin;
    height: 50vmin;
    border-radius: 2vmin;
    background-color: white;
    position: relative;
}

.info-box .info-box-header {
    background-color: crimson;
    color: white;
    border-radius: 2vmin 2vmin 0 0;
}

.info-box .info-box-header, .info-box .info-box-body {
    padding: 3vmin;
}

.info-box h2 {
    margin: 0;
}

.info-box .button-close {
    position: absolute;
    top: 3vmin;
    right: 3vmin;
    cursor: pointer;
}

.info-box .button-close:hover {
    text-shadow: 0 3px 15px rgba(0, 0, 0, 0.7);
}

.info-box .button-close:active {
    text-shadow: none;
    top: calc(3vmin + 2px);
}

.info-box-body p {
    margin: 1em 0 0 0;
}

.info-box-body *:first-child {
    margin: 0;
}

.info-box-body ul {
    margin-top: 0.3em;
}